<!-- navbar -->
<navbar></navbar>

<div id="wrapper" class="padding-to-navbar-50" ng-class="{'toggle-wrapper': hidden, 'show-sidebar-wrapper': !hidden }">
    <div id="sidebar-wrapper" ng-class="{'toggle-sidebar': hidden, 'show-sidebar': !hidden }">
        <!-- sidebar -->
        <sidebar></sidebar>
    </div>
    <div id="page-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="simple-jumbo" style="text-align: center">
                        <h1>Woops!</h1>
                        <p>This band or user does not exist :C</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>