<!-- navbar -->
<navbar></navbar>

<div id="wrapper" class="padding-to-navbar-50" ng-class="{'toggle-wrapper': hidden, 'show-sidebar-wrapper': !hidden }">
    <div id="sidebar-wrapper" ng-class="{'toggle-sidebar': hidden, 'show-sidebar': !hidden }">
        <!-- sidebar -->
        <sidebar></sidebar>
    </div>
    <div id="page-content-wrapper">
        <!--<div>
            &lt;!&ndash; href="#menu-toggle" &ndash;&gt;
            <a ng-click="toggleMenu()" class="btn btn-default sidebar-button" id="menu-toggle">
                <span class="glyphicon" ng-class="{'glyphicon-triangle-right': hidden, 'glyphicon-triangle-left': !hidden}"></span>
            </a>
        </div>-->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="simple-jumbo">
                        <form class="form-group">
                            <input class="form-control" type="text" placeholder="Say hello!"/>
                        </form>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="">Herp derp</p>
                            </li>
                            <li class="list-group-item">
                                <p class="">Foo bar</p>
                            </li>
                            <li class="list-group-item">
                                <p class="">Hello world!</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>