<!-- navbar -->
<navbar></navbar>

<div id="wrapper" class="padding-to-navbar-50" ng-class="{'toggle-wrapper': hidden, 'show-sidebar-wrapper': !hidden }">
    <div id="sidebar-wrapper" ng-class="{'toggle-sidebar': hidden, 'show-sidebar': !hidden }">
        <!-- sidebar -->
        <sidebar></sidebar>
    </div>
    <div id="page-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="simple-jumbo">
                        <div class="row margin-0">
                            <!-- Foto de perfil -->
                            <div class="col-md-12 col-md-offset-0 col-xs-6 col-xs-offset-3">
                                <img class="img img-responsive img-bordered" ng-src="{{user.avatar}}"/>
                            </div>
                        </div>
                        <!-- Nick -->
                        <div class="row margin-0" style="padding-top: 10px">
                            <div class="text-center">
                                <p>{{user.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="simple-jumbo">
                        <form class="form-group" ng-submit="send()">
                            <input class="form-control" type="text" placeholder="Say something" ng-model="text"/>
                        </form>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-warning" ng-show="newMessages.length" ng-click="flush()">{{newMessages.length}} new posts</li>
                            <li class="list-group-item" ng-repeat="message in messages | orderBy: '-date'">
                                <div class="row">
                                    <div class="col-md-2 col-xs-3">
                                        <img class="img-responsive img-bordered" ng-src="{{message.avatar}}" style="max-height: 50px">
                                    </div>
                                    <div class="col-md-10 col-xs-9" style="padding-left: 0;;padding-top: 10px;">
                                        <p class="pull-left"><a ng-href="#/profile/{{message.user_id}}"><strong>{{message.user}}</strong></a></p>
                                        <em class="pull-right">{{message.date | date: 'dd/MM/yyyy'}}</em>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="padding-top: 10px;">
                                        <p class="">{{message.content}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="btn-group pull-right">
                                            <a class="btn" ng-href="#/post/{{message.id}}"><span class="glyphicon glyphicon-share"></span></a>
                                            <a class="btn"><span class="glyphicon glyphicon-star"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>