<!-- navbar -->
<navbar></navbar>

<div class="container vertical-center">
    
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="jumbotron">
                <div class="page-header text-center">
                    <h3>Welcome to Myusick</h3>
                </div>
                <form ng-submit="login()">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                            <input class="form-control" type="email" ng-model="usermail" placeholder="User email"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class=" glyphicon glyphicon-lock"></span>
                            </span>
                            <input class="form-control" type="password" ng-model="password" placeholder="Password"/>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-success" href="#/home" type="submit">Login</a>
                        <a class="btn btn-primary" href="#/register">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<footer></footer>