<!-- navbar -->
<navbar></navbar>

<div class="container vertical-center">
    
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="jumbotron jumbotron-inverted jumbo-transparent">
                <div class="page-header text-center">
                    <h3 class="logo-style">Welcome to Myusick</h3>
                </div>
                <form ng-submit="login()">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                            <input class="form-control" type="email" ng-model="user" placeholder="User email" ng-click="hideErrorMessage()"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class=" glyphicon glyphicon-lock"></span>
                            </span>
                            <input class="form-control" type="password" ng-model="password" placeholder="Password" ng-click="hideErrorMessage()"/>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group" role="group" aria-label="...">
                            <button class="btn btn-success" type="submit">Login</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="...">
                            <a class="btn btn-primary" href="#/register">Register</a>
                        </div>
                    </div>
                </form>
                <br>
                <div class="btn-group-justified" ng-hide="hiddenErrorMessage">
                    <a class="btn btn-danger" style="background-color: #D43F3A;" ng-click="hideErrorMessage()">
                        Incorrect user or password. <span class="glyphicon glyphicon-ban-circle"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<footer></footer>