<!-- navbar -->
<navbar></navbar>

<div class="container vertical-center padding-to-navbar">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="jumbotron jumbotron-inverted jumbo-transparent">
                <form class="container-fluid" ng-submit="register()">
                    <div class="form-group" ng-class="{'has-error': errors.name}">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-music"></span>
                            </span>
                            <input class="form-control" type="text" placeholder="Name*" ng-model="band.name" required/>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': errors.year}">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            <input class="form-control" type="text" placeholder="Year of creation*" ng-model="band.year" required/>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': errors.description}">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-comment"></span>
                                </span>
                            <textarea class="form-control" type="text" placeholder="Write a short description" ng-model="band.description" style="resize: vertical"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-block btn-success" type="submit">Send</button>
                </form>
                <br>
                <div class="btn-group-justified" ng-hide="hiddenErrorMessage">
                    <a class="btn btn-danger" style="background-color: #D43F3A;" ng-click="hideErrorMessage()">
                        Check errors. <span class="glyphicon glyphicon-ban-circle"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>