<!-- navbar -->
<navbar></navbar>

<div id="wrapper" class="padding-to-navbar-50" ng-class="{'toggle-wrapper': hidden, 'show-sidebar-wrapper': !hidden }">
    <div id="sidebar-wrapper" ng-class="{'toggle-sidebar': hidden, 'show-sidebar': !hidden }">
        <!-- sidebar -->
        <sidebar></sidebar>
    </div>
    <div id="page-content-wrapper">
        <div class="container">
    
            <div class="row">
                <!-- Panel izquierdo (perfil de usuario) -->
                <div class="col-md-2">
                    <div class="simple-jumbo">
                        <!-- Cabecera del panel -->
                        <div class="row margin-0">
                            <!-- Foto de perfil -->
                            <div class="col-md-12 col-md-offset-0 col-xs-6 col-xs-offset-3">
                                <img class="img img-responsive img-bordered" src="img/placeholder.JPG"/>
                            </div>
                            <!-- Fotos y Contactos -->
                            <div class="col-md-12 col-xs-3 profile-icons-bar">
                                <div class="row">
                                    <div class="col-md-4 col-xs-12">
                                        <a class="btn btn-default" title="Media">
                                            <span class="glyphicon glyphicon-picture"></span>
                                        </a>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <a class="btn btn-default" title="Contacts">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </a>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <a class="btn btn-default" title="Favourites">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Nick y bio -->
                        <div class="row margin-0" style="padding-top: 10px">
                            <div class="text-center">
                                <p>{{user}}</p>
                                <p>my uber bio</p>
                            </div>
                        </div>
                        <!-- Cuerpo del panel, aptitudes -->
                        <div class="row margin-0">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="badge">10</span>
                                    Guitarrista
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">0</span>
                                    Bajista
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">999</span>
                                    Retrasado
                                </li>
                            </ul>
                        </div>
                        <!-- Editar perfil -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn-group btn-group-justified">
                                    <a class="btn btn-primary">
                                        <span class=" glyphicon glyphicon-cog"></span> Edit
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Panel derecho (grupos) -->
                <div class="col-md-2 col-md-push-8">
                    <div class="simple-jumbo">
                        <p class="text-center">My bands</p>
                        <div class="btn-group-vertical" style="display: block">
                            <a class="btn btn-default" href="#/group/123">Ceporrín</a>
                            <a class="btn btn-default" href="#/group/456">Ceporrón</a>
                            <a class="btn btn-primary" href="#/newGroup">Create group</a>
                        </div>
                    </div>
                </div>
                <!-- Panel central (publicaciones) -->
                <div class="col-md-8 col-md-pull-2">
                    <div class="simple-jumbo">
                        <form class="form-group">
                            <input class="form-control" type="text" placeholder="Say hello!"/>
                        </form>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="">Herp derp</p>
                            </li>
                            <li class="list-group-item">
                                <p class="">Foo bar</p>
                            </li>
                            <li class="list-group-item">
                                <p class="">Hello world!</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>