<!-- navbar -->
<navbar></navbar>

<div id="wrapper" class="padding-to-navbar-50" ng-class="{'toggle-wrapper': hidden, 'show-sidebar-wrapper': !hidden }">
    <div id="sidebar-wrapper" ng-class="{'toggle-sidebar': hidden, 'show-sidebar': !hidden }">
        <!-- sidebar -->
        <sidebar></sidebar>
    </div>
    <div id="page-content-wrapper">
        <div class="container">
    
            <div class="row">
                <!-- Panel izquierdo (perfil de usuario) -->
                <div class="col-md-3">
                    <div class="simple-jumbo">
                        <!-- Cabecera del panel -->
                        <div class="row margin-0">
                            <!-- Foto de perfil -->
                            <div class="col-md-12">
                                <img class="img img-responsive img-bordered" ng-src="{{user.avatar}}"/>
                            </div>
                            <!-- Fotos y Contactos -->
                            <div class="col-md-12 profile-icons-bar">
                                <div class="row text-center">
                                    <div class="col-md-6 col-xs-6 margin-bot-10">
                                        <a class="btn btn-default" title="Following" ng-href="#/following/{{user_id}}">
                                            <span class="glyphicon glyphicon-user"></span>
                                            <span class="glyphicon glyphicon-arrow-right"></span>
                                            <p class="no-margin">Following</p>
                                        </a>
                                    </div>
                                    <div class="col-md-6 col-xs-6 margin-bot-10">
                                        <a class="btn btn-default" title="Followers" ng-href="#/followers/{{user_id}}">
                                            <span class="glyphicon glyphicon-user"></span>
                                            <span class="glyphicon glyphicon-arrow-left"></span>
                                            <p class="no-margin">Followers</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Nick y bio -->
                        <div class="row margin-0" style="padding-top: 10px">
                            <div class="text-center">
                                <p style="font-weight: bold">{{user.name}}</p>
                                <p>{{user.description}}</p>
                            </div>
                        </div>
                        <!-- Aptitudes -->
                        <div class="row margin-0">
                                <div class="btn-group-vertical" style="width: 100%">
                                    <a class="btn btn-default" ng-repeat="apt in user.skills" ng-href="#/search/{{apt}}">
                                        {{apt}}
                                        <span class="badge">0</span>
                                    </a>
                                </div>
                        </div>
                        <!-- Editar perfil -->
                        <div class="row" ng-show="isOwner()" style="margin-top: 25px">
                            <div class="col-md-12">
                                <div class="btn-group btn-group-justified">
                                    <a class="btn btn-primary" ng-href="#/profile/{{loggedUserId}}/edit">
                                        <span class=" glyphicon glyphicon-cog"></span> Edit
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- follow -->
                        <div class="row" ng-hide="isOwner()" style="margin-top: 25px">
                            <div class="col-md-12">
                                <div class="btn-group btn-group-justified" ng-hide="following">
                                    <a class="btn btn-success" ng-click="follow()">
                                        Follow
                                    </a>
                                </div>
                                <div class="btn-group btn-group-justified" ng-show="following">
                                    <a class="btn btn-danger" ng-click="unfollow()">
                                        Unfollow
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Panel derecho (grupos) -->
                <div class="col-md-3 col-md-push-6">
                    <div class="simple-jumbo">
                        <p class="text-center" style="font-weight: bold">Bands</p>
                        <div class="btn-group-vertical" style="display: block">
                            <a class="btn btn-default" ng-repeat="group in user.groups" ng-href="#/group/{{group.id}}">{{group.name}}</a>
                            <a class="btn btn-primary" href="#/newGroup" ng-show="isOwner()">Create group</a>
                        </div>
                    </div>
                    <div class="simple-jumbo" style="margin-top: 25px">
                        <p class="text-center" style="font-weight: bold">Tags</p>
                        <div class="btn-group-vertical" style="display: block">
                            <a class="btn btn-default" ng-repeat="tag in user.tags" ng-href="#/search/{{tag}}">{{tag}}</a>
                            <a class="btn btn-primary" ng-click="showTagInput = true" ng-hide="showTagInput || !isOwner()">Add tag</a>
                            <form class="form-group" ng-show="showTagInput" ng-submit="submitTag()">
                                <input class="form-control" type="text" ng-model="newtag" placeholder="Add a tag" required/>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Panel central (publicaciones) -->
                <div class="col-md-6 col-md-pull-3">
                    <div class="simple-jumbo">
                        <form class="form-group" ng-submit="sendMessage()" ng-show="isOwner()">
                            <input class="form-control" type="text" ng-model="message" placeholder="Say something" required/>
                        </form>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="pub in user.publications | orderBy: '-date'">
                                <div class="row">
                                    <div class="col-md-2 col-xs-3">
                                        <img class="img-responsive img-bordered" ng-src="{{user.avatar}}" style="max-height: 50px">
                                    </div>
                                    <div class="col-md-10 col-xs-9" style="padding-left: 0;;padding-top: 10px;">
                                        <p class="pull-left"><a ng-href="#/profile/{{pub.id}}"><strong>{{user.name}}</strong></a></p>
                                        <em class="pull-right">{{pub.date | date: 'dd/MM/yyyy'}}</em>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="padding-top: 10px;">
                                        <p class="">{{pub.content}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="btn-group pull-right">
                                            <a class="btn" ng-href="#/post/{{pub.id}}"><span class="glyphicon glyphicon-share"></span></a>
                                            <a class="btn"><span class="glyphicon glyphicon-star"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>