<!-- navbar -->
<navbar></navbar>

<div class="container vertical-center padding-to-navbar">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="jumbotron jumbotron-inverted jumbo-transparent">
                <form class="container-fluid" ng-submit="register()">
                    <div class="form-group" ng-class="{'has-error': errors.name}">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                            <input class="form-control right-top-radius" type="text" placeholder="Name*" ng-model="name" required/>
                            <input class="form-control right-bot-radius" type="text" placeholder="Lastname" ng-model="lastname"/>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': errors.birthdate}">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            <input class="form-control" type="date" placeholder="Birthdate*" ng-model="birthdate" required/>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': errors.address}">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-home"></span>
                                </span>
                            <input class="form-control right-top-radius" type="text" placeholder="City*" ng-model="city" required/>
                            <input class="form-control right-bot-radius" type="text" placeholder="Country*" ng-model="country" required/>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': errors.phone}">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-phone"></span>
                                </span>
                            <input class="form-control" type="tel" placeholder="Phone number" ng-model="phone"/>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': errors.email}">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                            <input class="form-control" type="text" placeholder="Email*" ng-model="email" required/>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': errors.password}">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <span class=" glyphicon glyphicon-lock"></span>
                                </span>
                            <input class="form-control right-top-radius" type="password" placeholder="Password" ng-model="password" required>
                            <input class="form-control right-bot-radius" type="password" placeholder="Repeat password" ng-model="repassword" required>
                        </div>
                    </div>
                    <button class="btn btn-block btn-success" type="submit">Send</button>
                </form>
                <br>
                <div class="btn-group-justified" ng-hide="hiddenErrorMessage">
                    <a class="btn btn-danger" style="background-color: #D43F3A;" ng-click="hideErrorMessage()">
                        Check errors. <span class="glyphicon glyphicon-ban-circle"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>