<!-- navbar -->
<navbar></navbar>

<div id="wrapper" class="padding-to-navbar-50" ng-class="{'toggle-wrapper': hidden, 'show-sidebar-wrapper': !hidden }">
    <div id="sidebar-wrapper" ng-class="{'toggle-sidebar': hidden, 'show-sidebar': !hidden }">
        <!-- sidebar -->
        <sidebar></sidebar>
    </div>
    <div id="page-content-wrapper">
        <div class="container">

            <div class="row">
                <!-- Panel izquierdo: búsqueda y categorias -->
                <div class="col-md-3">
                    <div class="simple-jumbo">
                        <div class="row margin-0">
                            <form class="form-group" ng-submit="search()">
                                <input class="form-control" type="text" placeholder="Search" ng-model="search_value" required>
                            </form>
                        </div>
                        <div class="row margin-0" style="padding-top: 10px">
                            <ul class="list-group">
                                <a class="list-group-item" ng-class="{active: category==0}" ng-click="changeCategory(0)">
                                    Users
                                    <span class="badge">{{results_0.length}}</span>
                                </a>
                                <a class="list-group-item" ng-class="{active: category==1}" ng-click="changeCategory(1)">
                                    Bands
                                    <span class="badge">{{results_1.length}}</span>
                                </a>
                                <a class="list-group-item" ng-class="{active: category==2}" ng-click="changeCategory(2)">
                                    Tags
                                    <span class="badge">{{results_2.length}}</span>
                                </a>
                                <a class="list-group-item" ng-class="{active: category==3}" ng-click="changeCategory(3)">
                                    Skills
                                    <span class="badge">{{results_3.length}}</span>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Panel central: resultados y filtro -->
                <div class="col-md-6">
                    <div class="simple-jumbo">
                        <form class="form-group">
                            <input class="form-control" type="text" placeholder="Filter" ng-model="filter"/>
                        </form>
                        <ul class="list-group">
                            <li class="list-group-item list-hover" ng-repeat="result in results | filter:filter">
                                {{result.name}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>