<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/mydb</property>
        <property name="connection.username">root</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.show_sql">true</property>

        <mapping class="myusick.model.entities.Publicante" />
        <mapping class="myusick.model.entities.Aptitud" />
        <mapping class="myusick.model.entities.Grupo" />
        <mapping class="myusick.model.entities.Persona" />
        <mapping class="myusick.model.entities.Publicacion" />
        <mapping class="myusick.model.entities.Tag" />
    </session-factory>
</hibernate-configuration>