<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property nombre="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property nombre="connection.url">jdbc:mysql://localhost/mydb</property>
        <property nombre="connection.username">root</property>
        <property nombre="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property nombre="hibernate.show_sql">true</property>

        <mapping class="myusick.persistence.VO.Publicante" />
        <mapping class="myusick.persistence.VO.Aptitud" />
        <mapping class="myusick.persistence.VO.Grupo" />
        <mapping class="myusick.persistence.VO.Persona" />
        <mapping class="myusick.persistence.VO.Publicacion" />
        <mapping class="myusick.persistence.VO.Tag" />
    </session-factory>
</hibernate-configuration>