<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header pull-left">
            <ul class="nav navbar-nav custom-nav">
                <li ng-show="principal.isAuthenticated()" class="pull-left">
                    <a ng-click="toggleMenu()" class="no-collapse-item pull-left navbar-toggle custom-nav-toggle" style="margin-left: 15px; margin-bottom: 0px; border: 0;" id="menu-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                </li>
                <li class="pull-right custom-nav-header">
                    <a class="navbar-brand logo logo-style pull-right" href="#/home" style="padding-top: 15px ! important">
                        Myusick
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-header pull-right" style="padding-right: 15px;">
            <ul class="nav navbar-nav custom-nav">
                <li ng-show="principal.isAuthenticated()" ng-class="{ active: isActive('/home')}" class="pull-left">
                    <a class="no-collapse-item" href="#/home">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </li>
                <li ng-hide="principal.isAuthenticated()" ng-class="{ active: isActive('/login')}" class="pull-left">
                    <a class="no-collapse-item" href="#/login">Login</a>
                </li>
                <li ng-hide="principal.isAuthenticated()" ng-class="{ active: isActive('/register')}" class="pull-left">
                    <a class="no-collapse-item" href="#/register">Register</a>
                </li>
                <li ng-show="principal.isAuthenticated()" ng-class="{ active: isActive('/profile')}" class="pull-left">
                    <a class="cursor-pointer no-collapse-item" href="#/profile">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </li>
                <li ng-show="principal.isAuthenticated()" class="pull-left">
                    <a class="cursor-pointer no-collapse-item" ng-click="logout()">
                        <span class="glyphicon glyphicon-log-out"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>