<br>
<ul class="sidebar-nav">
    <li ng-class="{ active: isActive('/find')}">
        <form ng-submit="sidebar_search()" style="padding: 15px">
            <input class="form-control" type="text" ng-model="search_term" placeholder="Search" required>
        </form>
    </li>
    <li ng-class="{ my_active: isActive('/profile/'+loggedUserId)}">
        <a ng-href="#/profile/{{loggedUserId}}">My profile</a>
    </li>
    <li ng-class="{ my_active: isActive('/followers/'+loggedUserId)}">
        <a ng-href="#/followers/{{loggedUserId}}">Followers</a>
    </li>
    <li ng-class="{ my_active: isActive('/following/'+loggedUserId)}">
        <a ng-href="#/following/{{loggedUserId}}">Following</a>
    </li>
    <!--<li ng-class="{ my_active: isActive('/favs')}">-->
        <!--<a href="#/favs">Favs</a>-->
    <!--</li>-->
    <li ng-class="{ my_active: isActive('/settings')}">
        <a href="#/settings">
            <span class=" glyphicon glyphicon-cog"></span> Settings
        </a>
    </li>
</ul>