body {
    background: deepskyblue;
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

.jumbo-translucent {
    background-color: rgba(238, 238, 238, 0.7);
}

.jumbo-transparent {
    background-color: rgba(238, 238, 238, 0.3) !important;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.text-center {
    text-align: center;
}

.right-top-radius {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 0px !important;
}

.right-bot-radius {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 4px !important;
}

.no-bot-radius {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.no-right-radius {
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.no-left-radius {
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.default-cursor {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

.logo-style {
    font-weight: bold !important;
    color: black !important;
    text-shadow: 2px 0 0 orange, 
        -2px 0 0 orange, 
        0 2px 0 orange, 
        0 -2px 0 orange, 
        1px 1px orange, 
        -1px -1px 0 orange,
        1px -1px 0 orange,
        -1px 1px 0 orange !important;
}

.page-header {
    border-bottom: 1px solid orange;
    box-shadow: 0 1px 0 black, 0 2px 0 orange;
}

.padding-to-navbar {
    padding-top: 75px;
}

.padding-to-navbar-50 {
    padding-top: 50px;
}

.no-collapse-item {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    height: 50px ! important;
    padding-top: 15px ! important;
}

.custom-nav {
    margin-top: 0px;
    margin-bottom: 0px;
}

.sidebar-button, .sidebar-button:hover {
    color: #ccc;
    background-color: #333;
    border-color: transparent;
    margin-bottom: 10px;
}

.custom-nav-toggle {
    margin-bottom: 0;
    margin-left: 15px;
    border: 0;
    cursor: pointer;
}

.custom-nav-header {
    margin-left: 15px;
}

.simple-jumbo {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid orange;
}

.margin-0 {
    margin: 0px;
}

.img-bordered {
    border-radius: 10px;
    border: 5px solid grey;
}

.margin-bot-10 {
    margin-bottom: 10px;
}

.my_active {
    background-color: #000;
}

.list-hover:hover {
    background-color: #f5f5f5;
}

.no-margin {
    margin: 0;
}

.profile-icons-bar {
    padding-top: 10px;
}

@media(min-width:990px) {
    .custom-nav-toggle {
        margin-bottom: 0;
        border: 0;
        margin-left: 0px;
        cursor: pointer;
    }
    
    .simple-jumbo {
        margin-bottom: 0px;
    }
    
    .margin-bot-10 {
        margin-bottom: 0px;
    }
}